{% extends param('ccdn_user_admin.activation.show_unactivated_users.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
	
{% endblock %}

{% block title %}{{ 'title.user.admin.unactivated_users' | trans({}, 'CCDNUserAdminBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{% include 'CCDNUserAdminBundle:Sidebar:sidebar.html.twig' %}
	
{% endblock %}


{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	<h2>{{ 'title.user.admin.unactivated_users' | trans({}, 'CCDNUserAdminBundle') }}</h2>

	{% if pager.haveToPaginate %}
		{{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'cc_admin_user_show_unactivated_paginated' } ) }}
	{% endif %}

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="left">{{ 'member.table.head.username' | trans({}, 'CCDNUserMemberBundle') }}</th>
				<th class="left">{{ 'user.table.head.email' | trans({}, 'CCDNUserAdminBundle') }}</th>
				<th class="center">{{ 'member.table.head.joined_date' | trans({}, 'CCDNUserMemberBundle') }}</th>				
				<th class="center">{{ 'user.table.head.status.activation' | trans({}, 'CCDNUserAdminBundle') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for row, user in users %}
			<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
				<td class="left"><a href="{{ path('cc_admin_user_show', {'user_id': user.getId }) }}">{{ user.username |capitalize }}</a></td>
				<td class="left">{{ user.email }}</td>
				<td class="center">{{ user.registeredDate |date(param('ccdn_user_admin.activation.show_unactivated_users.member_since_datetime_format')) }}</td>
				<td class="center">{% if user.enabled %}Activated{% else %}Pending Activation{% endif %}</td>
			</tr>
		{% else %}
			<tr>
				<td class="center" colspan="4">
					<div class="well">{{ 'users.unactivated.table.empty' | trans({}, 'CCDNUserAdminBundle') }}</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{% if pager.haveToPaginate %}
		{{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'cc_admin_user_show_unactivated_paginated' } ) }}
	{% endif %}
	
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}