{% extends param('ccdn_user_admin.ban.layout_templates.show_banned_users') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
	
{% endblock %}

{% block title %}{{ 'title.user.admin.banned_users' | trans({}, 'CCDNUserAdminBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}

	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.admin.user'|trans({}, 'CCDNUserAdminBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_user_show_newest') }}">{{ 'sidebar.link.user.show_new'|trans({}, 'CCDNUserAdminBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_user_show_unactivated') }}">{{ 'sidebar.link.user.show_unactivated'|trans({}, 'CCDNUserAdminBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_user_show_banned') }}">{{ 'sidebar.link.user.show_banned'|trans({}, 'CCDNUserAdminBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_square">
	<div class="section_header">
		<h2>{{ 'title.user.admin.banned_users' | trans({}, 'CCDNUserAdminBundle') }}</h2>
	</div>
	
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName': 'cc_admin_user_show_banned_paginated' } ) }}
	</div>
	{% endif %}
	<div class="section_table_panel">		
		<table class="common_list">
			<thead>
				<tr>
					<th class="left"><span class="table_header">{{ 'member.table.head.username' | trans({}, 'CCDNUserMemberBundle') }}</span></th>
					<th class="left"><span class="table_header">{{ 'user.table.head.email' | trans({}, 'CCDNUserAdminBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'member.table.head.joined_date' | trans({}, 'CCDNUserMemberBundle') }}</span></th>				
					<th class="center"><span class="table_header">{{ 'user.table.head.status.activation' | trans({}, 'CCDNUserAdminBundle') }}</span></th>
				</tr>
			</thead>
			<tbody>
			{% for row, user in users %}
				<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
					<td class="left"><span class="table_data"><a href="{{ path('cc_admin_user_show', {'user_id': user.getId }) }}">{{ user.username }}</a></td>
					<td class="left"><span class="table_data">{{ user.email }}</td>
					<td class="center"><span class="table_data">{{ user.registeredDate|date("d/m/Y - H:i:s") }}</td>
					<td class="center"><span class="table_data">{% if user.enabled %}Activated{% else %}Pending Activation{% endif %}</td>
				</tr>
			{% else %}
				<tr>
					<td class="center" colspan="4">
						<span class="table_empty">{{ 'users.banned.table.empty' | trans({}, 'CCDNUserAdminBundle') }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName': 'cc_admin_user_show_banned_paginated' } ) }}
	</div>
	{% endif %}
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}