{% extends param('ccdn_user_admin.account.layout_templates.edit_user') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %}{{ 'title.account.edit' |trans({}, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_square">
	<div class="section_header">
		<h2>{{ 'title.account.edit' |trans({}, 'CCDNUserUserBundle') }}</h2>
	</div>
	
	<div class="section_table_panel">
{#		{% form_theme form param('ccdn_user_user_admin.template.theme') %} #}
		<form action="{{ path('cc_admin_user_account_edit', {'user_id': user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
			{{ form_row(form._token) }}
			<div class="errors">{{ form_errors(form) }}</div>
			<table class="common_list">
				<tbody>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.username, null, { 'label': 'fos_user_profile_form_user_username' |trans({}, 'FOSUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.username) }}
							{{ form_widget(form.username) }}
						</td>
					</tr>	
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.email, null, { 'label': 'fos_user_profile_form_user_email' |trans({}, 'FOSUserBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.email) }}
							{{ form_widget(form.email) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.locked, null, { 'label': 'form.label.account.locked' |trans({}, 'CCDNUserAdminBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.locked) }}
							{{ form_widget(form.locked) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.enabled, null, { 'label': 'form.label.account.enabled' |trans({}, 'CCDNUserAdminBundle')}) }}</td>
						<td class="form_widget">
							{{ form_errors(form.enabled) }}
							{{ form_widget(form.enabled) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_tool_strip" colspan="2">
					        <input type="submit" class="widget_submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}">
					    </td>
					</tr>
				</tbody>
			</table>

		</form>
	</div>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock body %}