{% extends param('ccdn_user_admin.account.edit_user_account.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %}{{ 'title.account.edit' |trans({}, 'CCDNUserUserBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{% include 'CCDNUserAdminBundle:Sidebar:sidebar.html.twig' %}
	
{% endblock %}


{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	<h2>{{ 'title.account.edit' |trans({}, 'CCDNUserUserBundle') }}</h2>

	<div class="well">
		{% form_theme form param('ccdn_user_admin.account.edit_user_account.form_theme') %}
		
		<form action="{{ path('cc_admin_user_account_edit', {'user_id': user.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>

				<div class="errors">{{ form_errors(form) }}</div>

				<div class="control-group"><div class="controls row-fluid">{{ form_row(form._token) }}</div></div>
				
				<div class="control-group">
					{{ form_label(form.username, null, { 'label': 'fos_user_profile_form_user_username' |trans({}, 'FOSUserBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.username) }}
						{{ form_widget(form.username) }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form_label(form.email, null, { 'label': 'fos_user_profile_form_user_email' |trans({}, 'FOSUserBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.email) }}
						{{ form_widget(form.email) }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form_label(form.locked, null, { 'label': 'form.label.account.locked' |trans({}, 'CCDNUserAdminBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.locked) }}
						{{ form_widget(form.locked) }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form_label(form.enabled, null, { 'label': 'form.label.account.enabled' |trans({}, 'CCDNUserAdminBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.enabled) }}
						{{ form_widget(form.enabled) }}
					</div>
				</div>
				
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}">
				</div>
				
			</fieldset>
		</form>
	</div>

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock body %}