{% extends 'CCDNUserAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_admin.account.edit_user_profile.layout_template %}

{% block javascripts_extra %}
	<script src="{{- asset('bundles/ccdnuserprofile/js/jquery.profile.js') -}}" type="text/javascript"></script>
{% endblock javascripts_extra %}

{% block title %}{{- truncDot('title.profile.edit' | trans({ '%user_name%': user.getUsername }, 'CCDNUserProfileBundle'), ccdn_user_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_user_admin.account.edit_user_profile.form_theme -%}
		<form action="{{- path('ccdn_user_admin_profile_edit', {'userId': user.getId}) -}}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>

				<div class="control-group form-title">
					<div class="controls">
						<h3>{{- 'title.profile.edit' | trans({ '%user_name%': '<bdi>' ~ user.getUsername ~ '</bdi>' }, 'CCDNUserProfileBundle') |raw -}}</h3>
					</div>
				</div>
			
				{{- form_errors(form) -}}

				{{- form_widget(form) -}}
					
				<div class="form-actions">
					<input type="submit" class="btn btn-danger" value="{{- 'form.button.profile.edit.update' |trans({}, 'CCDNUserProfileBundle') -}}">
				</div>

			</fieldset>
		</form>
	</section>
	
	{%- endspaceless -%}

{% endblock body_content %}
